In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv.xls', encoding= "latin-1")

In [3]:
df.shape

(60943, 12)

In [4]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [5]:
df.tail()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [7]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [8]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

### QUESTION ONE

In [9]:
missing = df['Y2014'].isnull().sum()
missing

1589

In [10]:
#to find the percentage of missing data
y2014_total= len(df)
missing_value_percentage = round((missing/y2014_total) * 100,3)
print("the percentage of missing values is: ", missing_value_percentage)

the percentage of missing values is:  2.607

### QUESTION TWO

In [11]:
# Select 'Y2017' and 'Area' columns
selected_columns = df[['Y2017', 'Area']]

# Group by 'Area' and calculate the sum for 'Y2017'
sum_2017_by_area = selected_columns.groupby('Area')['Y2017'].sum()

# Sort the sums and find the 7th lowest sum
seventh_lowest_sum_area = sum_2017_by_area.nsmallest(7).index[-1]

print('Area with the 7th lowest sum in Y2017:', seventh_lowest_sum_area)

Area with the 7th lowest sum in Y2017: Guinea-Bissau

In [12]:
# Select 'Y2017' and 'Area' columns
selected_columns = df[['Y2017', 'Area']]

# Group by 'Area' and calculate the sum for 'Y2017'
sum_2017_by_area = selected_columns.groupby('Area')['Y2017'].sum()

# Find the area with the highest sum for 'Y2017'
highest_sum_area = sum_2017_by_area.nlargest(1).index[0]

print('Area with the highest sum in Y2017:', highest_sum_area)

Area with the highest sum in Y2017: Nigeria

## q5

In [13]:
sumof2017 = df.groupby('Element')['Y2017'].sum()
sumof2017

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [14]:
madagascar_2018 = df[(df['Area'] == 'Madagascar') & (df['Y2018'])]
protein_supply_madagascar_2018 = madagascar_2018.groupby('Element').sum()
print(protein_supply_madagascar_2018)

                                        Area Code  Item Code  Element Code  \
Element
Domestic supply quantity                    11610     243636        477090
Export Quantity                              5160     110203        236440
Fat supply quantity (g/capita/day)           8901     188007         47196
Feed                                         1677      35374         71773
Food                                        10449     220087        416502
Food supply (kcal/capita/day)                9546     201284         49136
Food supply quantity (kg/capita/yr)         11223     235928         56115
Import Quantity                              5805     122684        252495
Losses                                       5418     113563        215166
Other uses (non-food)                        2322      49301         92772
Processing                                   1548      32155         61572
Production                                  10965     230006        468435
Protein supply quantity (g/capita/day)       8772     186277         45832
Residuals                                     903      19202         36190
Seed                                         2064      43354         88432
Stock Variation                              4128      87838        162304
Total Population - Both sexes                 129       2501           511

                                           Y2014     Y2015     Y2016  \
Element
Domestic supply quantity                31578.76  31214.98  31731.08
Export Quantity                           403.48    475.75    519.06
Fat supply quantity (g/capita/day)         88.66     91.82     95.31
Feed                                     2175.76   2068.22   2119.40
Food                                    21403.42  21119.65  21433.61
Food supply (kcal/capita/day)            7943.00   7684.00   7668.00
Food supply quantity (kg/capita/yr)       907.50    871.54    861.13
Import Quantity                          2008.68   1720.80   1900.46
Losses                                   2252.00   2176.00   2215.00
Other uses (non-food)                    4346.58   3957.12   4112.08
Processing                               1262.00   1803.00   1770.00
Production                              30337.51  29482.89  29889.65
Protein supply quantity (g/capita/day)    177.75    173.01    173.40
Residuals                                -603.00   -616.00   -642.00
Seed                                      728.00    699.00    720.00
Stock Variation                           373.00   -496.00   -458.00
Total Population - Both sexes           23590.00  24234.00  24894.00

                                           Y2017     Y2018
Element
Domestic supply quantity                31927.87  32596.87
Export Quantity                           561.81    535.81
Fat supply quantity (g/capita/day)        101.03     96.43
Feed                                     2057.60   2133.60
Food                                    21676.21  22116.21
Food supply (kcal/capita/day)            7767.00   7748.00
Food supply quantity (kg/capita/yr)       847.75    842.17
Import Quantity                          3138.79   3214.79
Losses                                   2153.00   2253.00
Other uses (non-food)                    4170.06   4221.06
Processing                               1826.00   1819.00
Production                              29267.86  30215.86
Protein supply quantity (g/capita/day)    175.75    176.64
Residuals                                -657.00   -676.00
Seed                                      695.00    728.00
Stock Variation                           -76.00    293.00
Total Population - Both sexes           25571.00  26262.00

/var/folders/px/x_d597jn38d8k_dnzdmc42k00000gn/T/ipykernel_22142/3229740204.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  protein_supply_madagascar_2018 = madagascar_2018.groupby('Element').sum()

### q10

In [15]:
unique_countries = df['Area'].nunique()
unique_countries

49

### QUESTION 13

## QUESTION 17

In [26]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment